<div class="titulo col-12 mat-display-1 mt-3">Zapateria Itzia</div>
<div class="sections row col-12">
  <div class="section new-item col">
    <div class="name mat-title">Nuevo producto</div>
    <div class="icon">
      <a routerLink="nuevo-producto" style="text-decoration: none; text-decoration-color: none;">
        <i>
          <mat-icon style="font-size: 100px; color: #000;">new_label</mat-icon>
        </i>
      </a>
    </div>
    <div class="description mat-body-1">
      registrar un nuevo producto
    </div>
  </div>
  <div class="section sales col">
    <div class="name mat-title">Ventas para preparar</div>

    <div class="icon">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 640 512"
        >
          <path
            d="M425.7 256c-16.9 0-32.8-9-41.4-23.4L320 126l-64.2 106.6c-8.7 14.5-24.6 23.5-41.5 23.5c-4.5 0-9-.6-13.3-1.9L64 215v178c0 14.7 10 27.5 24.2 31l216.2 54.1c10.2 2.5 20.9 2.5 31 0L551.8 424c14.2-3.6 24.2-16.4 24.2-31V215l-137 39.1c-4.3 1.3-8.8 1.9-13.3 1.9zm212.6-112.2L586.8 41c-3.1-6.2-9.8-9.8-16.7-8.9L320 64l91.7 152.1c3.8 6.3 11.4 9.3 18.5 7.3l197.9-56.5c9.9-2.9 14.7-13.9 10.2-23.1zM53.2 41L1.7 143.8c-4.6 9.2.3 20.2 10.1 23l197.9 56.5c7.1 2 14.7-1 18.5-7.3L320 64L69.8 32.1c-6.9-.8-13.5 2.7-16.6 8.9z"
          />
        </svg>
      </i>
    </div>
    <div class="description mat-body-1" *ngIf="notifications">
      Actualmente tienes {{notifications.ventas_pendientes}} ventas pendientes.
    </div>


  </div>
  <div class="section stock col">
    <div class="name mat-title">Inventario</div>
    <div class="icon">
        <a routerLink="inventario">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 16 16"
        >
          <path
            d="M12 6V0H4v6H0v7h16V6h-4zm-5 6H1V7h2v1h2V7h2v5zM5 6V1h2v1h2V1h2v5H5zm10 6H9V7h2v1h2V7h2v5z"
          />
          <path d="M0 16h3v-1h10v1h3v-2H0v2z" />
        </svg>
      </i>
    </a>
    </div>

    <div class="description mat-body-1" *ngIf="notifications">
      Actualmente cuentas con {{notifications.inventario_total}} productos en almacen
    </div>
  </div>
</div>
