.titulo {
    height: 100px;
    text-align: center;
}

.sections {
    min-height: 400px;
}

.sales {
    border-left: solid 2px lightgray;
    border-right: solid 2px lightgray;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    height: 10%;
}

.icon {
    height: 30%;
}

i {
    width: 100px;
    height: 100px;
}

i svg {
    width: 100px;
    height: 100px;
    fill: #171e24;
}

.description {
    height: 30%;
}

a {
    cursor: pointer;
}