.principal {
    width: 100%;
    height: 1400px;
}

.head {
    background: crimson;
    width: 100%;
    height: 400px;
}

.content {
    margin-top: 25px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 52px;
}