.form {
    margin: auto;
    margin-top: 7rem;
    width: 100%;
    height: 900px;
}

.default {
    width: 50%;
}


.product-code{
    float: left;
}

.product-sku{
    float: right;
}

.default input,
select {
    width: 60%;
    display: inline-block;
}

.product-category .new-category {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.product-description {
    width: 80%;
}

.product-description textarea {
    width: 100%;
}

.product-images {
    width: 80%;
    height: 350px;
}

.product-images .drop-image {
    width: 100%;
    height: 150px;
    border: slateblue 2px dashed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-images .select-image {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.product-images .funtionality {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product-images button {
    width: 25%;
    height: 45px;
}

.product-images .product-thumbnails {
    display: inline-block;
    width: 100%;
    height: 80px;
padding: 10px;
}


.thumbnail-data{
    position: relative;
    width: 70px;
    display: inline-block;
    margin-right: 2rem;
}

.thumbnail-data .badge-clear{
    position: absolute;
    right: 7px;
    top: 5px;
}

.product-images .product-thumbnails img{
   
    border-radius:45px;
    
    box-shadow: gray 5px 0px 20px ;
    
}

.product-details {
    width: 85%;
    
}

.product-details input {
    width: 135px;
  
}

.product-details .other input {
    width: auto;
    margin-right: 4px;
}

