<div class="view row">
  <form class="form col-md-8">
    <div class="product-category default">
      <p>Categoria</p>
      <select
        name="select"
        id=""
        [(ngModel)]="category"
        *ngIf="categories?.length > 0"
      >
      <option 
      *ngFor="let _category of categories"
      [ngValue]="_category.id"
    >
   
      {{ _category.nombreCategoria }}

    </option>
    
        
      
      </select>
      <div class="new-category">
        <a routerLink="../nueva-categoria">Crear nueva categoria</a>
      </div>
    </div>

    <ng-container *ngIf="categories">

    
 
    <div class="product-subcategory" *ngIf="category != -1">
       {{category}} 
      <select name="subcategory"  [(ngModel)]="product.subcategoriaId" id="">
        <option
          *ngFor="let subcategory of categories[category -1]?.vSubcategorias"
          [(ngValue)]="subcategory.id"
        >
          {{ subcategory.nombre }}
        </option>
      </select>

      
      {{product.subcategoriaId}}
    </div>
  </ng-container>
    <div class="product-name default">
      <p>Nombre</p>
      <input [(ngModel)]="product.nombre" type="text" name="name" id="name" />
    </div>

    <div class="product-description default">
      <p>Descripcion</p>
      <textarea
        [(ngModel)]="product.descripcion"
        name="description"
        id=""
        rows="5"
      ></textarea>
    </div>

    <div class="codes">
      <div class="product-code default">
        <p>Codigo</p>
        <input
          [(ngModel)]="product.codigo"
          type="text"
          name="codigo"
          id="name"
        />
      </div>
      <div class="product-sku default">
        <p>SKU</p>
        <input [(ngModel)]="product.sku" type="text" name="sku" id="name" />
      </div>
    </div>

    <div class="product-details row">
      <div class="cost col">
        <p>Costo</p>
        <input [(ngModel)]="product.costo" name="cost" type="number" />
      </div>
      <div class="price col">
        <p>Precio</p>
        <input [(ngModel)]="product.precio" name="price" type="number" />
      </div>
      <div class="discount col">
        <p>Descuento</p>
        <input type="number" />
      </div>
      <div class="stock col">
        <p>Stock</p>
        <input [(ngModel)]="product.stock" name="stock" type="number" />
        <div class="other">
          <input type="checkbox" name="" id="" />
          <label>Otra cosa</label>
        </div>
      </div>
    </div>

    <div class="product-images">
      <p>Imagenes</p>
      <div class="drop-image upload-drop-zone">
        Arrastra y suelta aqui -->

        <input
          id="singleFile"
          class="select-image"
          type="file"
          (input)="handleFileInput($event, $event.target.files)"
        />
        <br />

        <!-- <mat-file-upload-queue
          #fileUploadQueue
          [fileAlias]="'file'"
          [httpUrl]="'http://192.168.1.151:8080/api/producto'"
        > -->
        <!--   <mat-file-upload
            [file]="file"
            [id]="i"
            *ngFor="let file of fileUploadQueue.files; let i = index"
          ></mat-file-upload>
        </mat-file-upload-queue> -->
      </div>

      <div class="product-thumbnails">
        <ng-container
          *ngIf="product.imagenes.length > 0; then _imageList"
        ></ng-container>
        <ng-template #_imageList>
          <div class="thumbnail-data" *ngFor="let item of product.imagenes">
            <img
              #remove_target
              [src]="item.nombreImagenMin | image"
              [attr.data-item-id]="item.id"
              alt=""
              height="70"
              
            />
            <span class="badge-clear" style="cursor: pointer" (click)="deleteImage(remove_target.dataset.itemId)">
              <mat-icon>clear</mat-icon>
            </span>
          
          </div>
        </ng-template>
        <ng-container
          *ngIf="thumbnails?.length > 0; then _thumbnails"
        ></ng-container>
        <ng-template #_thumbnails>
          <img *ngFor="let item of thumbnails" [src]="item" height="70" />
        </ng-template>
      </div>

      <div class="funtionality">
        <button type="button" class="btn btn-success">Subir imagenes</button>
        <p>Tamaño maximo 10MB</p>
      </div>
    </div>

    <button type="button" (click)="uploadProduct()" class="btn btn-primary">
      Guardar
    </button>
  </form>
</div>
