<div class="main row ">


    <nav class="vertical-nav bg-dark text-white col-2">

        <div class="content py-4 px-3 mt-5 mb-4 bg-light">
            <div class="logo img-thumbnail ">
                <img src="..." class="thumbnail" alt="" width="100">
            </div>

        </div>

        <div class="content">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" routerLink="/admin-manager/user" routerLinkActive="active">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="productos" routerLinkActive="active">Productos</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ventas" [routerLinkActive]="'active'">Ventas</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="inventario" [routerLinkActive]="'active'">Inventario</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="informes" [routerLinkActive]="'active'">Informes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ajustes" [routerLinkActive]="'active'">Ajustes</a></li>

                <li class="nav-item"><a class="nav-link" (click)="logOut()">Salir</a></li>

            </ul>
        </div>


    </nav>
</div>