.main {}

.logo {
    margin: auto;
}

.vertical-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 5, 0.1);
    transition: all 0.4s;
}

.navbar {
    height: 100%;
    position: fixed;
}

.content {
    width: 90%;
    margin: auto;
}

.nav {
    align-items: flex-end;
}

.active {
    color: sandybrown;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}