.principal {
    width: 100%;
    min-height: 50vh;
}

.head {
    background: crimson;
    width: 100%;
    height: 400px;
}

.content {
    margin-top: 3rem;
    width: 70%;
    min-height: 1000px;
    margin: auto;
    height: fit-content;
    text-align: center;
}

.form {
    width: 70%;
    min-height: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.form .username {
    width: 70%;
    margin: auto;
    padding-top: 3rem;
}

input {
    width: 70%;
}

.form .username .name {
    display: inline-block;
    width: 50%;
}

.form .username .lastname {
    display: inline-block;
    width: 50%;
}

.form .user-contact {
    width: 70%;
    margin: auto;
}

.form .user-contact .phone {
    display: inline-block;
    width: 50%;
}

.form .user-contact .email {
    display: inline-block;
    width: 50%;
}

.form .adress {
    width: 70%;
    margin: auto;
}

.form .adress {
    width: 70%;
    margin: auto;
}

.form .adress .postal {
    width: 50%;
    margin: auto;
}

.postal input {
    width: 30%;
}

.form .adress .locality {
    width: 70%;
    margin: auto;
}

.locality .state {
    width: 50%;
    display: inline-block;
}

.locality .town {
    width: 50%;
    display: inline-block;
}

.locality .colony {
    width: 50%;
}

.locality .colony select {
    width: 70%;
}

.direction {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}

.direction .street {
    width: 50%;
    display: inline-block;
}

.direction .number input {
    width: 30%;
}

input[type=submit] {
    width: 20%;
    margin: auto;
}