<div class="principal">
    <div class="head">

    </div>
    <div class="content">






        <div class="tittle mat-display-1">Completar compra</div>



        <!-- agrupacion de pasos -->
        <mat-horizontal-stepper linear>
            <!-- primer paso label es el titulo completed true hace que pueda avanzar al siguiente paso -->
            <mat-step label="Datos personales" completed=true>
                <p>tus datos</p>
                <!-- ngTemplateOutlet nos permite inyectar una plantilla dentro de un container util para reusar una seccion en nuestro html -->



                <div class="nombre default">
                    <!-- campos de formulario -->
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" name="nombre" [(ngModel)]="datosCliente.nombre" placeholder="(ej: Juan)" required>
                    </mat-form-field>


                </div>

                <div class="apellido default">
                    <mat-form-field appearance="standard">
                        <mat-label>Apellido</mat-label>
                        <input matInput type="text" name="apellido" [(ngModel)]="datosCliente.apellido" placeholder="(ej: Perez)" required>
                    </mat-form-field>
                </div>
                <div class="telefono default">
                    <mat-form-field appearance="standard">
                        <mat-label>Telefono</mat-label>
                        <input matInput type="text" name="telefono" [(ngModel)]="datosCliente.telefono" placeholder="(ej: 555-123-45-67)" required>
                    </mat-form-field>
                </div>

                <div class="correo default">
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput name="email" [(ngModel)]="datosCliente.email" placeholder="(ej: Juan@ejemplo.com)" [errorStateMatcher]="matcher" required>
                    </mat-form-field>
                </div>

                <!-- los controles de retroceder y avanzar de paso -->
                <button mat-flat-button matStepperNext>Siguiente</button>
            </mat-step>







            <mat-step label="Direccion de envio">
                <p>direccion</p>


                <div class="code default">
                    <!-- campos de formulario -->
                    <mat-form-field appearance="standard">
                        <mat-label>Codigo postal</mat-label>

                        <input matInput type="text" name="code" [(ngModel)]="code" (input)="getAdress($event.target.value)" placeholder="(ej: 55100)" maxlength="5" required>
                    </mat-form-field>
                </div>


                <!-- ----------------------------------------------------------------------------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------------------- -->
                <ng-container *ngIf="adress.length > 1; then select"></ng-container>

                <ng-container *ngIf="adress.length == 1; then fill"></ng-container>

                <ng-template #select>

                    <div class="estado default">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>

                            <mat-select>
                                <mat-option value="adress[0].municipio.entidad.d_estado"></mat-option>
                            </mat-select>
                            <input matInput type="text" value="{{adress[0].municipio.entidad.d_estado}}" disabled>


                        </mat-form-field>
                    </div>
                    <div class="municipio default">
                        <mat-form-field appearance="standard">
                            <mat-label>Municipio</mat-label>
                            <mat-select>
                                <mat-option value="adress[0].municipio.d_mnpio"></mat-option>
                            </mat-select>
                            <input matInput type="text" value="{{adress[0].municipio.d_mnpio}}" disabled>
                        </mat-form-field>
                    </div>

                    <div class="Colonia default">
                        <mat-form-field appearance="standard">
                            <mat-label>Colonia</mat-label>
                            <mat-select [(value)]="colony">
                                <mat-option *ngFor="let object of adress" value='{{object.d_asenta}}'>{{object.d_asenta}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </ng-template>
                <!-- ----------------------------------------------------------------------------------------------------------- -->
               <!--  {{code}} {{estado}} {{municipio}} {{colony}} {{street}} {{number}} -->
                <ng-template #fill>
                    <div class="estado default">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select>
                                <mat-option value="{{adress[0].municipio.entidad.d_estado}}"></mat-option>
                            </mat-select>
                            <input matInput type="text" value="{{adress[0].municipio.entidad.d_estado}}" disabled>

                        </mat-form-field>
                    </div>
                    <div class="municipio default">
                        <mat-form-field appearance="standard">
                            <mat-label>Municipio</mat-label>
                            <mat-select>
                                <mat-option value="adress[0].municipio.d_mnpio"></mat-option>
                            </mat-select>
                            <input matInput type="text" value="{{adress[0].municipio.d_mnpio}}" disabled>
                        </mat-form-field>
                    </div>

                    <div class="Colonia default">
                        <mat-form-field appearance="standard">
                            <mat-label>Colonia</mat-label>
                            <mat-select>
                                <mat-option value="adress[0].d_asenta"></mat-option>
                            </mat-select>
                            <input matInput type="text" value="{{adress[0].d_asenta}}" disabled>
                        </mat-form-field>
                    </div>
                </ng-template>

                <!-- ----------------------------------------------------------------------------------------------------------- -->

                <ng-container *ngIf="adress.length == 0">

                    <div class="estado default">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select [(value)]="estado" (selectionChange)="getMunicipios()">
                                <mat-option *ngFor="let state of states" value="{{state.d_estado}}">{{state.d_estado}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="municipio default">
                        <mat-form-field appearance="standard">
                            <mat-label>Municipio</mat-label>
                            <input matInput type="text" placeholder="(ej: Canatlan)" required>
                        </mat-form-field>
                    </div>

                    <div class="Colonia default">
                        <mat-form-field appearance="standard">
                            <mat-label>Colonia</mat-label>
                            <input matInput type="text" placeholder="(ej: Zona centro)" required>
                        </mat-form-field>
                    </div>
                </ng-container>



                <div class="calle default">
                    <mat-form-field appearance="standard">
                        <mat-label>Calle</mat-label>
                        <input matInput type="text" [(ngModel)]="street" placeholder="(ej: Hidalgo)" required>
                    </mat-form-field>
                </div>

                <div class="num default">
                    <mat-form-field appearance="standard">
                        <mat-label>Numero</mat-label>
                        <input matInput type="text" [(ngModel)]="number" (change)="checkAdress()" placeholder="(ej: 100)" required>
                    </mat-form-field>
                </div>


                <div class="modo-envio default">
                    <mat-form-field appearance="standard">
                        <mat-label>Medio de envio</mat-label>
                        <mat-select [(value)]="clientData.medioEnvio">
                            <mat-option *ngFor="let medioEnvio of mediosEnvio" value="{{medioEnvio.id}}">{{medioEnvio.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <button mat-flat-button matStepperPrevious>Regresar</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
            </mat-step>






            <!-- el atributo false impide que se pueda llegar al siguiente paso la idea de esto es crear un binding que otorge acceso en determinado momento -->
            <mat-step label="Metodo de pago">
                <p>Metodo de pago</p>

                <mat-accordion class="example-headers-align">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>credit_card</mat-icon>
                                Tarjeta de credito o debito
                            </mat-panel-title>
                            <mat-panel-description>
                                selecciona tipo

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <!--  <mat-form-field>
                            <mat-label>numero de tarjeta</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>codigo</mat-label>
                            <input matInput type="password">
                        </mat-form-field> -->

                        <mat-select [(value)]="clientData.medioPago">
                            <mat-option *ngFor="let medioPago of mediosPago" value="{{medioPago.id}}">{{medioPago.nombre}}</mat-option>
                        </mat-select>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>money</mat-icon>
                                Efectivo
                            </mat-panel-title>
                            <mat-panel-description>
                                selecciona

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
                        </mat-form-field>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-expansion-panel>
                </mat-accordion>

                <button mat-flat-button matStepperPrevious>Regresar</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
            </mat-step>

            <!-- este paso se vuelve inaccesible dado que el paso anterior requiere ser completado -->
            <mat-step label="Finalizar">
                <p>finalizar</p>


                <!-- toggle buttton -->
                <div class="boletin" style="margin-top: 5rem;">
                    <div class="checkbox">
                        <mat-checkbox>
                            Deseo recibir ofertas en mi correo electronico
                        </mat-checkbox>
                    </div>
                </div>

                <button mat-flat-button matStepperPrevious>Regresar</button>
                <button mat-flat-button matStepperNext (click)="buy()">Completar</button>
            </mat-step>
        </mat-horizontal-stepper>













    </div>
</div>