<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    <ng-container *ngIf="item.imagenes?.length > 0">
      <img
        *ngFor="let imagenes of item.imagenes"
        class="swiper-slide image"
        [src]="imagenes.nombreImagen | image"
      />
    </ng-container>
    <img
      *ngIf="item.imagenes?.length == 0"
      class="swiper-slide image"
      [src]="item.imagenes[0]?.nombreImagen | image"
    />
  </div>
  <!-- Add Pagination -->
  <ng-container *ngIf="pagination == true">
    <div class="swiper-pagination"></div>
  </ng-container>

  <!-- Add Arrows -->
  <ng-container *ngIf="arrows == true">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </ng-container>

  <!-- add Thumbs -->
</div>

<ng-container *ngIf="thumbView == true">
  <div class="swiper-container gallery-thumbs">
    <!--   <swiper [config]="config">
            <div class="swiper-wrapper">
                <ng-container *ngFor="let imagenes of item.imagenes; let i = index">
                    <div class="swiper-slide image" [ngStyle]="{'background-image':'url(http://192.168.1.151:8080/img/' + item.imagenes[i].ruta +')'}"></div>
                </ng-container>
            </div> -->

    <div class="swiper-wrapper">
      <ng-container *ngIf="item.imagenes?.length > 1">
        <img
          *ngFor="let imagenes of item.imagenes"
          class="swiper-slide image"
          [src]="imagenes.nombreImagen | image"
        />
      </ng-container>
    </div>
  </div>
</ng-container>
