.principal {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.user {
    position: fixed;
    right: 0;
    margin-right: 50px;
    margin-top: 1rem;
}

.user h4 {
    display: inline-block;
}

.user i svg {
    height: 40px;
    width: 40px;
}

.content {
    min-height: 100vh;
}