.content {
    margin: auto;
}

.products {
    margin-top: 2rem;
}

.product {
    margin-top: 2rem;
    display: block;
    height: 100px;
    padding: 10px;
    box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .04);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.img-thumbnail {
    width: 100px;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
}

.product .default {}

.product .dropdown {
    line-height: 80px;
    height: 100%;
}