<div class="view row">
    <div class="content col-8 mt-3">
        <div class="buscar">
            <label for="search" style="line-height: 1px;color: #bbdb;">Nombre del producto</label>
            <br>
            <input type="text" name="search" id="search" placeholder="Buscar" class="">

            <button class="btn btn-primary ml-3">Buscar</button>
        </div>
        <div class="products" *ngIf="productLists">
            <div class="product" *ngFor="let productList of productLists">
                <div class="img-thumbnail">
                    <img class="image" [src]="productList.nombreImagenMin | image" class="thumbnail" alt="" width="" height="70" >
                </div>
                <div class="code default">
                    <p>Codigo: #<span>{{productList.codigo}}</span></p>
                </div>
                <div class="name default">
                    <p>Nombre: <span><a href="">{{productList.nombre}}</a></span></p>
                </div>
                <div class="sales default">
                    <p>Ventas: <span>4</span></p>
                </div>
                <div class="price default">
                    <p>Precio: $<span>{{productList.precio}}</span></p>
                </div>
                <div class="edit">
                   <button (click)="editProduct(productList.id, productList.slug)" routerLinkActive="router-link-active"  class=" btn-warning">Editar</button>
                </div>
            </div>

        </div>

        <div class="new-product mt-4" >
            <button type="button" class="btn btn-success" (click)="newProduct()">Nuevo producto</button>
        </div>
    </div>
</div>