<div class="group">
    <div class="card" *ngFor="let item of items; let id = index">



        


            <div id="carousel" class="dsc-carousel" data-ride="carousel">

                <div class="dsc-carousel_content">

                    <ng-container *ngIf="item.imagenes?.length > 1; then multiImage else singleImage"></ng-container>

                    <ng-template #multiImage>
                        <a href="">
                            <app-slider [item]="item" [autoplay]="true" [pagination]="true"></app-slider>
                        </a>
                    </ng-template>

                    <ng-template #singleImage>
                        <a href="">
                            <!-- <div class="image" [ngStyle]="{'background-image':'url(http://192.168.43.130:8080/img/' + item.imagenes[0].nombreImagen +')'}"></div> -->
                            <img class="image" [src]="item.imagenes[0]?.nombreImagen | image" alt="imagen">
                        </a>
                    </ng-template>

                </div>

            </div>

        
        <a routerLink="/producto/{{item.id}}/{{item.slug}}">

            <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <p class="card-text">{{item.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Cantidad disponible: {{item.stock}}</small></p>

                <ng-container *ngIf="item.descuento > 0;then discount else normalPrice"></ng-container>
                <ng-template #discount>

                    <p style="text-decoration: line-through;">${{item.precio | number: '1.2-2'}}</p>
                    <h4 class="card-price-discount">${{ item.precio - ((item.precio) * (item.descuento / 100)) | number: '1.2-2'}}</h4>
                </ng-template>
                <ng-template #normalPrice>
                    <h4 class="card-price">${{item.precio | number: '1.2-2'}}</h4>
                </ng-template>

            </div>
        </a>

    </div>
</div>