
.group {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* Carrusel de imagenes */

.card {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 22px;
    max-width: 200px;
    max-height: 400px;
}

.dsc-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dsc-carousel_content {
    width: 100%;
    height: 200px;
}

.image {
    height: 100%;
    width: 100%;
 
}

.card-title {
    height: 45px;
}