.principal {
    width: 100%;
    height: 1400px;
}

.head {
    background: crimson;
    width: 100%;
    height: 400px;
}

.content {
    margin: auto;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.products {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 15px #f3f3f3fa;
}