<div class="principal">
    <div class="head">

    </div>
    <div class="content">

        <div class="products">
            <ng-container *ngIf="items; then itemsLoaded"></ng-container>

            <ng-template #itemsLoaded>
                <app-product-grid [items]="items"></app-product-grid>
            </ng-template>

        </div>
    </div>
</div>