<div class="principal">
  <div class="head"></div>

  <div class="content">
    <div class="share"></div>
    <div class="go-back">
      <button (click)="goBack()">Atras</button>
    </div>
    <div class="product col-8">
      <ng-container *ngIf="item">
        <div class="left">
          <div class="slider">
            <app-slider
              [item]="item"
              [autoplay]="false"
              [arrows]="false"
              [thumbView]="true"
            ></app-slider>
          </div>
          <div class="deploy">
            <div class="deploy-content">
              <div class="title">
                <i class="icon">+ </i>
                <span>Caracteristicas</span>
                <div class="features">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eius rerum aliquid velit at mollitia minima ullam labore,
                    blanditiis aut nemo voluptates itaque quidem officia
                    assumenda animi eaque ducimus doloribus quasi.
                  </p>
                </div>
              </div>
            </div>
            <div class="deploy-content">
              <div class="title">
                <i class="icon">+ </i>
                <span>Reseñas</span>
                <div class="reviews">
                  <p>
                    Lorem ipsum dolor sit amet conseclam labore, blaa animi
                    eaque ducimus doloribus quasi.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet conseclam labore, blaa animi
                    eaque ducimus doloribus quasi.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="information">
          <div class="title">
            <h1>{{ item.nombre }}</h1>
          </div>
          <div class="price">
            <ng-container
              *ngIf="item.descuento > 0; then discount; else normalPrice"
            ></ng-container>
            <ng-template #discount>
              <h6 style="text-decoration: line-through">
                ${{ item.precio | number: "1.2-2" }}
              </h6>
              <h3 class="card-price-discount">
                ${{
                  item.precio - item.precio * (item.descuento / 100)
                    | number: "1.2-2"
                }}
              </h3>
            </ng-template>
            <ng-template #normalPrice>
              <h4 class="card-price">${{ item.precio | number: "1.2-2" }}</h4>
            </ng-template>
            <!--    <h3>${{item.precio | number: '1.2-2'}}</h3> -->
          </div>
          <div class="description">
            <h4>{{ item.descripcion }}</h4>
          </div>
          <div class="variants" *ngIf="item.caracteristicas?.length > 0">
            <ng-container *ngFor="let caracteristica of item.caracteristicas">
              <div class="material" *ngIf="caracteristica.id == 1">
                <ul class="variable">
                  <li class="variable-item" *ngIf="item.caracteristicas">
                    <span class="variable-item-span">{{
                      caracteristica.valor
                    }}</span>
                  </li>
                </ul>
              </div>

              <div class="color" *ngIf="caracteristica.id == 2">
                <ul class="variable">
                  <li class="variable-item">
                    <span class="variable-item-span">{{
                      caracteristica.valor
                    }}</span>
                  </li>
                </ul>
              </div>

              <div class="type" *ngIf="caracteristica.id == 3">
                <ul class="variable">
                  <li class="variable-item">
                    <span class="variable-item-span">{{
                      caracteristica.valor
                    }}</span>
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
          <div class="add-to-cart">
            <input
              class="amount"
              type="number"
              [(ngModel)]="amount"
              min="1"
              max="{{ item.stock }}"
            />
            <ng-container
              *ngIf="item.stock > 1; then moreUnits; else lastUnit"
            ></ng-container>
            <ng-template #lastUnit>
              <p>Ultimo disponible</p>
            </ng-template>
            <ng-template #moreUnits>
              <p>{{ item.stock }} disponibles</p>
            </ng-template>

            <button class="add" (click)="addToCart()">Añadir al carrito</button>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="similar-products"></div>
  </div>
</div>
