.principal {
    width: 100%;
    height: 1400px;
}

.head {
    background: crimson;
    width: 100%;
    height: 400px;
}

.content {
    margin-top: 25px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.product {
    padding: 15px;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px gainsboro;
}

.information {
    padding: 15px;
    width: 48%;
    height: 700px;
}

.left {
    width: 48%;
    height: 700px;
}

.slider {
    height: 500px;
}

.deploy {
    height: 200px;
}

.deploy-content {
    box-shadow: 0px 0px 7px gainsboro;
    cursor: pointer;
}

p {
    font-size: 12px;
    color: gray;
}