.principal {
    z-index: 0!important;
    height: 2000px;
}

.top {
    padding-top: 4rem;
    margin-top: 0px;
    width: 100%;
    height: 35%;
    background: crimson;
}

.content {}

.products {
    width: 60%;
    margin: 0 auto;
}

.container-fluid {
    margin: 2rem 0;
}

.promotions {}

.card-group {}

.card-img-top {
    height: 15rem;
}

.products h3 {
    text-align: center;
    padding: 2rem;
}


/* Carrusel de imagenes */

.dsc-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dsc-carousel_content {
    width: 100%;
    height: 200px;
}

.image {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}


/*Visor de imagenes*/

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}