<div class="principal">

    <div class="top">


    </div>

    <div class="content">
        
        <div class="products">
            <ng-container *ngIf="items; then itemsLoaded else itemsLoading"></ng-container>

            <ng-template #itemsLoaded>
                <app-product-grid [items]="items"></app-product-grid>
            </ng-template>


            <ng-template #itemsLoading>
                <!-- <app-product-grid [items]="itemsLoading"></app-product-grid> -->
            </ng-template>


        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>titulo}</h2>
                <button class="close">&times;</button>
                <div class="content">
                    sadasd
                </div>
            </div>

        </div>

    </div>
</div>