.principal {
    width: 100%;
    min-height: 50vh;
}

.head {
    background: crimson;
    width: 100%;
    height: 400px;
}

.cart {
    margin-top: 3rem;
    width: 70%;
    margin: auto;
    height: fit-content;
    text-align: center;
}

.cart-table {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    width: 100%;
}

.cart-table thead {
    height: 4rem;
    box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .04);
    background: #f9f9f9;
    border-radius: 5px;
    border-collapse: separate;
}

.cart-table thead tr {
    height: 100%;
}

.cart-table tbody .product {
    height: 10rem;
    border-radius: 5px;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.purchase-view {
    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5%;
}

.cart-subtotal {
    width: 30%;
    position: relative;
    float: right;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
}

p {
    font-size: 12px;
    color: gray;
}