<div class="principal">
  <div class="head"></div>

  <div class="content">
    <ng-container
      *ngIf="itemCarts?.length > 0; then fill; else empty"
    ></ng-container>
    <ng-template #fill>
      <form action="" class="cart">
        <h1>Este es tu carrito de compra</h1>

        <table class="cart-table">
          <thead>
            <th>Producto</th>
            <th></th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngIf="dataCartBuy">
              <tr class="product" *ngFor="let cart of dataCartBuy">
                <td class="thumbnail">
                  <a routerLink="/producto/{{ cart.id }}/{{ cart.slug }}">
                    <!-- <img [ngStyle]="{'content':'url(http://192.168.1.151:8080/img/' + cart.rutaImagenMin + ')'}" alt=""> -->
                    <div
                      class="image"
                      [ngStyle]="{
                        'background-image':
                          'url(http://192.168.1.79:8080/img/' +
                          cart.nombreImagenMin +
                          ')'
                      }"
                      alt=""
                    ></div>
                  </a>
                </td>
                <td class="name">{{ cart.nombre }}</td>
                <ng-container
                  *ngIf="cart.descuento > 0; then discount; else normalPrice"
                ></ng-container>
                <ng-template #discount>
                  <td class="price">
                    <span style="text-decoration: line-through">
                      ${{ cart.precio | number: "1.2-2" }}</span
                    >
                     ${{
                      cart.precio - cart.precio * (cart.descuento / 100)
                        | number: "1.2-2"
                    }}
                  </td>
                </ng-template>
                <ng-template #normalPrice>
                  <td class="price">${{ cart.precio | number: "1.2-2" }}</td>
                </ng-template>

                <td class="quantity">
                  <div class="quantity-input">
                    <input
                      type="number"
                      value="{{ cart.unidadesCliente }}"
                      min="1"
                      max="{{ cart.cantidad }}"
                      (change)="changeDataValue(cart.id, $event.target.value)"
                    />
                  </div>
                  <div class="stock">
                    <ng-container
                      *ngIf="cart.cantidad > 1; then moreUnits; else lastUnit"
                    ></ng-container>
                    <ng-template #lastUnit>
                      <p>Ultimo disponible</p>
                    </ng-template>
                    <ng-template #moreUnits>
                      <p>{{ cart.cantidad }} disponibles</p>
                    </ng-template>
                  </div>
                </td>

                <td class="price">
                  ${{
                    (cart.precio - cart.precio * (cart.descuento / 100)) *
                      cart.unidadesCliente | number: "1.2-2"
                  }}
                </td>

                <td #remove_target class="remove" [attr.data-item-id]="cart.id">
                  <a
                    (click)="remove(remove_target.dataset.itemId)"
                    style="cursor: pointer"
                    class="remove-btn"
                  >
                    <span class="remove-btn-icon">X</span>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </form>

      <div class="purchase-view">
        <div class="cart-subtotal">
          <table>
            <tbody>
              <tr class="Subtotal">
                <th>Subtotal:</th>
                <td>${{ subtotal | number: "1.2-2" }}</td>
              </tr>
              <tr class="Envio">
                <th>Envio:</th>
                <td>$150.00</td>
              </tr>
              <tr class="Total">
                <th>Total:</th>
                <td>${{ subtotal + 150 | number: "1.2-2" }}</td>
              </tr>
            </tbody>
          </table>
          <button (click)="salesFormView()">Comprar</button>
        </div>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="cart">
        <h1>Tu carrito esta actualmente vacio</h1>
      </div>
    </ng-template>
  </div>
</div>
