<div class="content" *ngIf="reports">
    <div class="mas-vendido">
        <h3> <strong> Productos mas vendidos </strong></h3>
        <div class="id">

            ID: {{reports.productoMasVendido.id}}
        </div>
        <div class="nombre">
            Nombre: {{reports.productoMasVendido.nombre}}
        </div>
        <div class="total">
            Total: {{reports.productoMasVendido.total}}
        </div>
    </div>
    <div class="ventas-totales">
<h3>Ventas Totales: {{reports.ventasTotales}}</h3>
    </div>
    <div class="producto-mas-ganancia">
        <h3><strong> Productos que generan mas ganancias </strong></h3>
        <div class="id">
            ID: {{reports.productoMasGanancia.id}}
        </div>
        <div class="nombre">
            Nombre: {{reports.productoMasGanancia.nombre}}
        </div>
        <div class="total">
            Total: {{reports.productoMasGanancia.total}}
        </div>
    </div>
    <div class="total-no-vendidos">
        <br>
<h3><strong> Total de productos sin vender: {{reports.totalProductosNoVendidos}} </strong></h3>
    </div>
    <br>
    <div class="ganancias-totales">
        <h3><strong> Ganancias en total: {{reports.gananciasTotales}} </strong></h3>
    </div>
</div>