<div class="view row">
  <div class="content col-8" *ngIf="saleDetails">
    <div class="client-data mt-5">
      <div class="left">
        <div class="sales">
          <h4>Venta: {{saleDetails.id}}</h4>
        </div>
        <div class="name">
          <h4>{{ saleDetails.nombreCliente }}</h4>
        </div>
        <div class="adress">
          <h4>{{ saleDetails.direccionCliente }}</h4>
        </div>
        <div class="send-option">
          <h4>{{ saleDetails.medioEnvio.nombre }}</h4>
        </div>
      </div>

      <div class="line"></div>

      <div class="right">
        <div class="tel">
          <h4>{{ saleDetails.telefonoCliente }}</h4>
        </div>
        <div class="email">
          <h4>{{ saleDetails.emailCliente }}</h4>
        </div>
        <div class="pay-option">
          <h4>{{ saleDetails.medioPago.nombre }}</h4>
        </div>
        <div class="date">
          <h4>{{ saleDetails.fecha }}</h4>
        </div>
      </div>
    </div>

    <div class="items-sold mt-5">
      <h2>Articulos:</h2>

      <div class="table categories">
        <div class="id">
          <h3><b>ID</b></h3>
        </div>

        <div class="line"></div>

        <div class="name">
          <h3><b>Nombre</b></h3>
        </div>

        <div class="line"></div>

        <div class="cantity">
          <h3><b>Cantidad</b></h3>
        </div>

        <div class="line"></div>

        <div class="total">
          <h3><b>Total</b></h3>
        </div>
      </div>

      <div class="table" *ngFor="let item of saleDetails.articulosVenta">
        <div class="id">
          <h3>{{ item.id }}</h3>
        </div>

        <div class="line"></div>

        <div class="name">
          <h3>{{ item.nombre }}</h3>
        </div>

        <div class="line"></div>

        <div class="cantity">
          <h3>{{item.cantidad}}</h3>
        </div>

        <div class="line"></div>

        <div class="total">
          <h3>{{item.total}}</h3>
        </div>
      </div>
    </div>

    <div class="cost mt-5">

      <div class="subtotal">
        <h3>Subtotal:</h3>
        <h3>{{saleDetails.subtotal}}</h3>
      </div>

      <div class="delivery">
        <h3>Envio:</h3>
        <h3>{{saleDetails.medioEnvio.costo}}</h3>
      </div>

      <div class="total-cost">
        <h3>Total:</h3>
        <h3>{{saleDetails.total }}</h3>
      </div>
    
      <button class="btn-primary" (click)="updateStatus()">Producto Enviado</button>
    </div>
    
  </div>
</div>
