.content {
    margin: auto;
}

.client-data{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;

}

.left{
    width: 55%;

  
}

.line{

    display: inline-block;
    width: 2px;
    
    border-right: solid 2px gray;
  

}



.right{

    width: 35%;

}

.items-sold{
    width: 100%;

}

.table{
    margin:  0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: fit-content;
  
    display: flex;
  
    
}

.table .line{
    width: 1%;
    
 
}


.id{
display: inline-block;
    width: 10%;

    
}


.items-sold .name{
    width: 37%;
    display: inline-block;
 
    
}

.cantity{
    display: inline-block;
    width: 10%;

    
}

.total{
    width: 10%;
display: inline-block;
    
}

.cost{
    margin-left: 50%;
}


.cost h3{
    margin-right: 2rem;
    display: inline-block;
    width: fit-content;
}