
<h2 mat-dialog-title> Realizar cambio de stock</h2>
<mat-dialog-content>
    
    <div class="movement">
        
            <div class="option">
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item >Ingresar</button>
                    <button mat-menu-item >Retirar</button>
                </mat-menu>
                <button mat-raised-button [matMenuTriggerFor]="appMenu">{{option}}</button>
            </div>

            
   
    </div>
<mat-dialog-content>