* {
    z-index: 1000;
}

.top-bar {
    top: 3rem;
    position: absolute;
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
}

.hide-menu {
    /* display: none;*/
    top: -50px;
    height: 90px;
    background: white;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.deploy-menu {
    position: fixed;
    animation: deploy-menu 1s;
    animation-fill-mode: forwards;
}

@keyframes deploy-menu {
    from {
        top: -10rem;
    }
    to {
        top: 0;
    }
}

.container {
   height: 100%;
   
}

.navbar {
    height: 100%;
    padding: 1rem;
    background: white;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.fullsize{
    box-shadow: none;
}

.logo{
    height: 110%;

}

.logo a img {
    height: 100%;
}



#categories {
    height: 80%;
}

.navbar-nav {
    width: 100%;
    height: 100%;
    list-style: none;
}

.navbar-nav .nav-item {
    display: flex;
    height: 100%;
    width: 15%;
    border-right: 2px solid rgb(245, 245, 245);
    align-items: center;
    justify-content: center;
}

.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .nav-link {
    color: rgb(252, 46, 224);
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

.image-link:hover .card-img-top {
    opacity: .5;
    transition: all 200ms ease-in;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 200ms ease-in;
}

.nav-link:active {
    color: rgb(252, 46, 224);
}

.item-group {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.item-column {
    width: 25%;
    display: inline-block;
}

.item-column li:nth-child(even) {
    background: seagreen;
}

.item-column li:nth-child(odd) {
    background: slategray;
}

.dropdown-menu {
    min-width: 800px;
}

.news {
    padding-top: 5rem;
}

.basket {
    width: 40px;
    height: 30px;
    font-size: 25px;
}

.basket svg {
    display: block;
    fill: black;
    float: right;
}

.basket .square {
    right: 0;
    display: block;
    float: right;
    background: crimson;
    font-size: 14px;
    width: 20px;
    text-align: center;
    color: white;
    border-radius: 8px;
}