<div class="top-bar" id="menu">
    <div class="container">


        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="logo navbar-brand">
                <a id="logo" routerLink="" title="e-comerce" data-height="60"><img src="../../../assets/logo.jpg" alt="logo"></a>

            </div>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#categories">
                    <span> menu</span>
                </button>

            <div class="collapse navbar-collapse" id="categories">
                <ng-container *ngIf="categories">


                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a routerLink="" class="nav-link"><span>Inicio</span></a>
                        </li>
                        <li class="nav-item dropdown " *ngFor="let category of categories">
                            <a class="nav-link dropdown-toggle" href="\\" data-toggle="dropdown"><span>{{category.nombreCategoria}}</span></a>
                            <ul class="dropdown-menu dropdown-menu-left item-group">
                                <ul class="item-column" *ngFor="let subCategory of category.vSubcategorias">

                                    <a routerLink="categoria/{{subCategory.id}}">
                                        <span>{{subCategory.nombre}}</span>
                                    </a>


                                    <!--  Esta seccion se utilizara cuando existan datos dentro de una subcategoria
                                    <li class="dropdown-item" *ngFor="let itema of subCategory.categoria">
                                        <a class="" href="\\">{{itema.nombre}}</a>
                                    </li> -->

                                </ul>
                            </ul>
                        </li>


                    </ul>
                </ng-container>


                <a routerLink="/mi-carrito">
                    <i class="basket">
                        <ng-container *ngIf="cartDataArray.length > 0">
                           
                            <span class="square">{{cartDataArray.length}}</span>
                        </ng-container>
                      
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em"
                        viewBox="0 0 576 512">
                        <path d="M576 216v16c0 13.255-10.745 24-24 24h-8l-26.113 182.788C514.509 462.435 494.257 480 470.37 480H105.63c-23.887 0-44.139-17.565-47.518-41.212L32 256h-8c-13.255 0-24-10.745-24-24v-16c0-13.255 10.745-24 24-24h67.341l106.78-146.821c10.395-14.292 30.407-17.453 44.701-7.058c14.293 10.395 17.453 30.408 7.058 44.701L170.477 192h235.046L326.12 82.821c-10.395-14.292-7.234-34.306 7.059-44.701c14.291-10.395 34.306-7.235 44.701 7.058L484.659 192H552c13.255 0 24 10.745 24 24zM312 392V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm112 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm-224 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24z"/>
                    </svg>
                  
                    </i>
                </a>



            </div>


        </nav>
    </div>
</div>