.content {
    margin: auto;
}

.inventary {
    margin-top: 2rem;
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
}


.image {
    width: 100px;
    height: 100%;
}