<div class="view row">
    <div class="content col-8">
        <div class="buscar">
            <p>Nombre producto</p>
            <input type="text" placeholder="Buscar" class="">

            <button class="btn btn-primary">Buscar</button>
        </div>

        <div class="inventary">

            <mat-table [dataSource]="inventaryList" class="mat-elevation-z8">

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <div class="image img-thumbnail">
                            <img [src]="element.nombreImagenMin | image" class="thumbnail" alt="" width="" height="60" >
                        </div>
                      
                    </mat-cell>
                  </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>
              
                <!-- Code Column -->
                <ng-container matColumnDef="code">
                  <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
                </ng-container>
              
                <!-- SKU Column -->
                <ng-container matColumnDef="sku">
                  <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
                </ng-container>

                  <!-- Provider Column -->
                  <ng-container matColumnDef="provider">
                    <mat-header-cell *matHeaderCellDef> Provedor </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.provedor}} </mat-cell>
                  </ng-container>

                   <!-- Stock Column -->
                   <ng-container matColumnDef="stock">
                    <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.stock}} </mat-cell>
                  </ng-container>

                     <!-- Movement Column -->
                     <ng-container matColumnDef="movement">
                      <mat-header-cell *matHeaderCellDef> Realizar movimiento </mat-header-cell>
                      <mat-cell *matCellDef="let element">  <button (click)="showMovementView()">ingresar/retirar</button> </mat-cell>
                    </ng-container>

                    
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

        </div>


    </div>

</div>