<div class="view row">
  <div class="content col-8">
    <div class="buscar">
      <p>Nombre producto</p>
      <input type="text" placeholder="Buscar" class="" />

      <button class="btn btn-primary">Buscar</button>
    </div>

    <ng-container
      *ngIf="sales?.length > 0; then fill; else empty"
    ></ng-container>

    <ng-template #empty>
      <h1 style="text-align: center">No hay ventas aun</h1>
    </ng-template>

    <ng-template #fill>
      <div class="sales" *ngIf="sales?.length > 0">
        <ng-container *ngFor="let sale of sales">
          <div
            #elementTarget
            [attr.data-element-id]="sale.id"
            class="sale"
            id="sales"
            (click)="viewSaleDetails(elementTarget.dataset.elementId)"
          >
            <div class="section left">
              <div class="date default">
                <p>
                  Fecha: <span>{{ sale.fecha }}</span>
                </p>
              </div>
              <div class="name default">
                <p *ngFor="let product of sale.productos">
                  Nombre: <span><a  href="">{{product}}</a></span>
                </p>
              </div>
              <div class="num default">
                <p>Vendidas: <span>4</span></p>
              </div>
              <div class="price default">
                <p>Total: $<span>{{sale.total}}</span></p>
              </div>
            </div>

            <div class="section right">
              <div class="client-information">
                <h6>Datos Cliente:</h6>
                <p>{{ sale.nombreCliente }}, {{ sale.direccionCliente }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
