.content {
    margin: auto;
}

.sales {
    margin-top: 2rem;
}

.sale {
    margin-top: 2rem;
    display: block;
    height: 100px;
    padding: 10px;
    background: gainsboro;
    display: flex;
    cursor: pointer;
}

.section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left {
    border-right: solid 2px black;
}

.right {}

.client-information {
    height: 100%;
    display: flex;
}

.right h6 {
    display: inline-block;
    width: 30%;
    height: 100%;
}

.right p {
    display: inline-block;
    height: 100%;
    width: 70%;
}

.sale .default {}